### Decode ###
nbest=10
status=decode
raw_dir=/home/jonne/Documents/research/ner/soft-gazetteers/experiments/TEST_baseline_vs_paranames/train/no_softgaz_largebatch/eval/raw.bmes
decode_dir=/home/jonne/Documents/research/ner/soft-gazetteers/experiments/TEST_baseline_vs_paranames/train/no_softgaz_largebatch/eval/raw.out
dset_dir=/home/jonne/Documents/research/ner/soft-gazetteers/experiments/TEST_baseline_vs_paranames/train/no_softgaz_largebatch/checkpoints/lstmcrf.dset
load_model_dir=/home/jonne/Documents/research/ner/soft-gazetteers/experiments/TEST_baseline_vs_paranames/train/no_softgaz_largebatch/checkpoints/lstmcrf.0.model
